<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Web Page</title>
    <!-- Linking the CSS file -->
    <link rel="stylesheet" href=".css">
    <!-- Linking the Josefin Sans font -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Josefin+Sans:400,700&display=swap">
</head>
<body>
    <div class="responsive-container-block bigContainer">
        <div class="responsive-container-block Container">
            <img class="mainImg" src="images/unemp.jpg">
            <div class="allText aboveText">
                <p class="text-blk headingText">
                    Our Mission
                </p><br/>
                <p class="text-blk subHeadingText">
                  Secure meaningful employment opportunities
                </p>
                <p class="text-blk description">
                  To empower individuals from marginalized communities by providing them with a platform to showcase their skills and secure meaningful employment opportunities, thereby fostering social and economic inclusion.
                </p>
            </div>
        </div>
        <div class="responsive-container-block Container bottomContainer">
            <img class="mainImg" src="images/emp.jpg" alt="Image description">
            <div class="allText bottomText">
                <p class="text-blk headingText">
                    Our Vision
                </p>
                <p class="text-blk subHeadingText">
                  Contribute to a stronger and more equitable economy
                </p><br/>
                <p class="text-blk description">
                  To create a world where every individual, regardless of their background, has the opportunity to contribute their talents and realize their full potential through equitable employment.
                </p>
            </div>
        </div>
    </div>
</body>
</html>
