<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Trending Skills in India 2024</title>
    <link rel="stylesheet" href="Trending.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
<div class="skills">
    <div class="section-1">
        <h1>Trending Skills in India 2024</h1>
    </div>
    <div class="section-2">
        <h2><a href="../Catalog/PromptEngineeringSpecialists.html">Generative AI Specialists</a></h2>
        <h2><a href="#">Prompt Engineering Specialists</a></h2>
        <h2><a href="#">AI Content Creators</a></h2>
        <h2><a href="#">ChatGPT Specialists</a></h2>
        <h2><a href="#">AI Chatbot Specialists</a></h2>
        <h2><a href="#">Stable Diffusion Artists</a></h2>
        <h2><a href="#">Blockchain</a></h2>
        <h2><a href="#">Go Development</a></h2>
        <h2><a href="#">Node.js</a></h2>
        <h2><a href="#">Vue.js</a></h2>
        <h2><a href="#">HR Consulting</a></h2>
        <h2><a href="#">Microsoft Power BI</a></h2>
        <h2><a href="#">Instructional Design</a></h2>
        <h2><a href="#">React.js</a></h2>
    </div>
    <div class="section-2">
        <h2><a href="#">Videographers</a></h2>
        <h2><a href="#">HTML5 Developers</a></h2>
        <h2><a href="#">UI/UX Design</a></h2>
        <h2><a href="#">Data Analysis & Interpretation</a></h2>
        <h2><a href="#">UI/Artificial Intelligence & ML</a></h2>
        <h2><a href="#">Digital Marketing</a></h2>
        <h2><a href="#">Cybersecurity</a></h2>
        <h2><a href="#">Cloud Computing</a></h2>
        <h2><a href="#">Sales & Negotiation</a></h2>
        <h2><a href="#">Project Management</a></h2>
    </div>
</div>
<div class="search-container">
    <h2>
        Can't find your job? Ask H4C's 
    </h2>
    <input type="text" placeholder="Search..." class="search-box">
    <button class="search-button">
        
    <i class="fa fa-search"></i>
    </button>
</div>
</body>
</html>
